body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.2;
  color: #333;
}

body > .main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

.h2, h2 {
  font-size: 18px;
}

p {
  line-height: 20px;
}

.dropdown , .dropdown h2 {
  line-height: 0;
  color: #fff;
}

.form-group {
  margin-bottom: 0px;
}

.content-wrapper, .right-side {
  background-color: #ecf0f5;
}

.skin-blue .main-header .logo {
  background-color: #357ca5;
  font-size: 18px;
}

.skin-blue .main-header .navbar {
  background: #5493b7;
}

.main-header .navbar-custom-menu, .main-header .navbar-right {
  float: left;
}

.skin-blue .main-sidebar, .skin-blue .wrapper {
  background: #e3ebf5; /*#ecf0f5 #365f6d*/
}

.skin-blue .sidebar-menu {
  font-weight: 600;
  line-height: 1.5;
}

.skin-blue .sidebar-menu>li>a {
  color: #365f6d; /*#b8c7ce*/
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
  background: #1e282c;
  border-left-color: #e3ebf5;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  width: 250px;
}

#Net {
  margin: auto;
}

.box.box-solid.box-primary>.box-header {
  background: #5493b7;
}

.box.box-solid.box-primary {
  border: 0px solid #3c8dbc;
}

.box-header .box-title, .box-header>.fa, .box-header>.glyphicon, .box-header>.ion {
  font-size: 16px;
}

.btn-default {
  color: #fff; background-color: #337ab7; border-color: #2e6da4;
}

.dataTables_info {
  display: none;
}

.selectize-dropdown {
  z-index: 2000;
}

.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    padding-right: 5px;
    padding-left: 5px;
}

