body > .main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

.dropdown , .dropdown h2 {
  line-height: 0;
  color: #fff;
}

.form-group {
 margin-bottom: 0px;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  /*width: 450px;*/
  max-width: 100%;
}
#Net {
  margin: auto;
  /*background: #ffffff;*/
}

.skin-blue .main-header .logo {
  background-color: #357ca5; /*#5493b7;*/
}

.skin-blue .main-sidebar, .skin-blue .wrapper {
  background: #365f6d;  /* #367fa9 #f4f4f4 #3c8dbc */
}

.skin-blue .main-header .navbar {
  background: #5493b7;
}

.box.box-solid.box-primary>.box-header {
  background: #5493b7;
}


.btn-default {
  color: #fff; background-color: #337ab7; border-color: #2e6da4;
}

.dataTables_info {
  display: none;
}
