h1 {
  color: #3c8dbc;
  max-width: 1000px;
}

h2 {
  color: brown;
  max-width: 1000px;
}

h3 {
  color: brown;
  max-width: 1000px;
}

h4 {
  color: #353d41;
  font-weight: bold;
  max-width: 1000px;
}

p {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  max-width: 1000px;
  line-height: 1.6;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: auto;
}
