options(width=128)
options(shiny.deprecation.messages=FALSE)
options(shiny.sanitize.errors = FALSE)

externalURL <- '<<<GETDATA_EXTERNAL_URL>>'
internalURL <- ''
# ws <- c(internalURL, 'frim1', '', externalURL, NULL, NULL, NULL, NULL)

maxVariables <- 100
idVersion <- '1.2'